.card {
    margin-bottom: 1rem;
}
button {
    box-shadow: none !important ; 
}
.btn-round {
    position: fixed;
    cursor: pointer;
    display: inline-block;
    border: none;
    background-color: #d23f31;
    border-radius: 999em;
    width: 56px;
    height: 56px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) ;  
    line-height: 1;
    font-size: 36px;
    bottom:2rem; 
    right:1rem;
    margin:0;
    padding:5px 3px; 
    outline: none !important;
}
.btn-round span {
    position: absolute;
    left: 0;
    top: 50%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -22px;
    color: #FFF;
}
.btn-round :hover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
 .btn-round span{
	color: #fff;
	-webkit-transition: all 0.9s;
	-moz-transition: all 0.9s;
	-o-transition: all 0.9s;
	-ms-transition: all 0.9s;
	transition: all 0.9s;
} 
.green { background-color: #57A429; }
.blue { background-color: #38818F;}
.orange { background-color: #D28031; }