ul.menuBar li 
{
    display: inline;
    list-style-type: none;
    margin: 0;
}
ul.menuBar {
    background-color: #FFCC00;
    padding: 0;
}
ul.menuBar li a{
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}